<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= title %>
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="wrapper">

    <!-- Form Heading -->
    <div class="heading">
      <img src="/images/task_icon.png" alt="icon" />
      <h1 class="todo-title">To-Do</h1>
    </div>
    <!-- Creating for with submit action as /create_task -->
    <form action="/create_task" , method="POST">
      <!-- Creating Div for description field -->
      <div class="desc">
        <label> Description</label>
        <input type="text" , name="description" , placeholder="Enter description" required />
      </div>
      <!-- Creating div for Category dropdown and Date input -->
      <div class="parent-cat">
        <div class="category">
          <label> Category</label>
          <label for="select-choice1" class="label select-1"><span class="selection-choice">Choose a Category</span>
          </label>
          <select id="select-choice1" class="custom-select select" name="Category">
            <!-- category options -->
            <option disabled selected value>-- Select from below --</option>

            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="due-date">
          <label for="due_date">Due Date:</label>
          <input type="date" id="due-date-id" name="due_date" />
        </div>
      </div>

      <!-- Creating div for Add and Delete task button -->
      <div class="parent-btn">
        <div>
          <button class="add-btn" type="submit" name="add">Add Task</button>
        </div>
        <div>
          <!-- On clicking of delete button, It will call deletefiles function from Script.js -->
          <button class="delete-btn" type="button" name="delete" onclick="deletefiles()">
            Delete Task
          </button>
        </div>
      </div>
    </form>

    <!-- Creating div to display task(fetched from mongo db) -->
    <div class="task-list">
      <!-- Starting a loop on tasklist(list of all todo task) -->
      <!-- Getting tasklist variable from home_controller.js-->
      <% for (let i=0; i < taskList.length; i++) { %>
        <div class="checkbox">
          <!-- When Checkbox is checked, calling a function addItemsforDelete with parameter as node id -->
          <input type="checkbox" class="strike" onclick="addItemsforDelete('<%= taskList[i].id %>')" />

          <!-- Fetching todo description -->
          <label class="container task-item">
            <span class="task-desc">
              <%= taskList[i].description %>
            </span>

            <!-- fetching todo category -->
            <span class="task-category">
              <%= taskList[i].Category %>
            </span>
            <!-- fetching todo category -->

            <div class="task-due-date">

              <i class="fas fa-calendar-days"></i>
              <%= taskList[i].due_date %>
            </div>
          </label>
        </div>
        <%} %>
    </div>
  </div>
  <!-- Adding script.js -->
  <script src="/js/script.js"></script>
</body>

</html>